{% extends "base.html" %}
{% block content %}
    <h2> Войти в проект </h2>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=140) }}

            {% for error in form.username.errors %}
                <span style="color: blue">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.pasword.label }}<br>
            {{ form.pasword(size=32) }}
        </p>
        <p>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}
